{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1 class="a">Welcome</h1>
    <center>
        <a class="b" href="{% url 'bookform' %}" class="btn btn-primary">upload</a>
        <a class="b" href="{% url 'show' %}" class="btn btn-primary">show details</a>
    </center>
</body>
</html>